:root {
  --budget-color-0-primary: #000;
  --budget-color-1-primary: #1d5aa7;
  --budget-color-1-dark: #16437e;
  --budget-color-2-primary: #0089b9;
  --budget-color-2-dark: #007099;
  --budget-color-3-primary: #008b70;
  --budget-color-3-dark: #006b56;
  --budget-color-4-primary: #34495e;
  --budget-color-4-dark: #2a3a4a;
  --budget-color-5-primary: #0096e5;
  --budget-color-5-dark: #017ec1;
  --budget-color-6-primary: #55b4e5;
  --budget-color-6-dark: #2099d5;
  --budget-color-7-primary: #08be9d;
  --budget-color-7-dark: #079c81;
  --budget-color-8-primary: #4a5d77;
  --budget-color-8-dark: #333f52;
  --budget-color-9-primary: #9f4ba4;
  --budget-color-9-dark: #8b428f;
  --budget-color-10-primary: #e77f9e;
  --budget-color-10-dark: #df537d;
  --budget-color-11-primary: #d9454e;
  --budget-color-11-dark: #c32832;
  --budget-color-12-primary: #f98533;
  --budget-color-12-dark: #eb7420;
  --budget-color-13-primary: #832f85;
  --budget-color-13-dark: #69256a;
  --budget-color-14-primary: #d53679;
  --budget-color-14-dark: #c22969;
  --budget-color-15-primary: #c4092d;
  --budget-color-15-dark: #a20726;
  --budget-color-16-primary: #e25503;
  --budget-color-16-dark: #ca4d05;
  --budget-color-17-primary: #f53d3d;
  --budget-color-17-dark: #dc3636;
  --budget-color-18-primary: #556475;
  --budget-color-18-dark: #4b5b6d;

  --budget-color-undefined-primary: #4b5b6d;
  --budget-color-undefined-dark: #415264;
}
