section {
  background: var(--ion-color-step-50);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;

  .wave-divider {
    position: absolute;
    color: var(--ion-color-step-50);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
  }
  &.light-section {
    background: var(--ion-background-color);
    .wave-divider {
      color: var(--ion-background-color);
    }
  }
}
.og-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 16px 16px 10% 16px;
  position: relative;
  z-index: 1;
  align-items: center;

  ul {
    padding: 0;
    li {
      list-style: none;
      padding-left: 42px;
      margin-bottom: 15px;
      position: relative;
      color: var(--ion-text-color);
      ion-icon {
        position: absolute;
        font-size: 32px;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.og-wrap-reverse svg {
  margin-top: 40px;
}
.col-12 {
  &.text-col {
    padding: 64px 0;
    z-index: 1;
  }
  > h1 {
    margin-top: 0;
  }
  label {
    font-weight: bold;
    color: var(--ion-color-primary-shade);
  }
  > svg {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    height: auto;
    &.pwa-svg {
      width: 100%;
    }
  }
  @media screen and (min-width: 576px) {
    > svg {
      width: 110%;
    }
    &.offset-sm-1 > svg {
      margin-left: -10%;
    }
  }
}
.icon-list-item {
  position: relative;
  ion-icon {
    font-size: 32px;
    position: absolute;
  }
  > div {
    margin-bottom: 36px;
    padding-left: 44px;
    h2 {
      margin-bottom: 4px;
    }
    p {
      margin-top: 0;
    }
  }
}

.og-video-wrapper {
  padding-top: 56%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
